* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(#ffe6b3, #ffd9b3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.game-wrapper {
  text-align: center; 
}

.game-title {
  font-size: 36px;
  color: #8b4513;
  text-shadow: 2px 2px #ffdd99;
  margin-bottom: 20px;
}

.game-container {
  width: 800px;
  border: 4px solid #d2a679;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background: #f5e6cc;
  display: none;
}

canvas {
  display: block;
  width: 100%;
  height: 560px;
  background: #f5e6cc;
}

button {
  padding: 12px 30px;
  background-color: #8b4513;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #a0522d;
}

.start-screen, .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.game-over h2{
  font-size: 42px;
  color: red;
}
